* {
  background-color: black;
}



.poster {
  font-family: "LIbre Barkerville";
  color: white;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  margin-top: 75px;
}

img {
  border: 5px solid white;
  width: 100%;
}


h1 {
  text-transform: uppercase;
}